#makesure
{
    width: 80%;
    border: 2px solid #888888;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 1px 1px 5px 0 #555555;
    font-family: 'Roboto', sans-serif;
}

#makesure-totals
{
    font-size: 1.25em;
}

.makesure-passed
{
    color: #00AA00;
}

.makesure-failed
{
    color: #FF0000;
}

.makesure-exception
{
    color: #FFAA00;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(http://themes.googleusercontent.com/static/fonts/roboto/v7/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}